extends layout

block content 

  form(method="POST" action="")
    h1= title 
    label.m-1(for="title") Title: 
    input#title.form-control(name="title" placeholder="Your post title" maxlength="60")
    label.m-1(for="message") Message: 
    textarea#message.form-control(name="message" placeholder="Your message (max char. 255)" maxlength="255")
    button.btn.btn-primary.m-1(type="Submit") Post