extends layout 

block content 

  form(method="POST" action="")
    h1= title 
    label.m-1(for="secret") Secret phrase: 
    input#secret.form-control.m-1(name="secret" placeholder="secret phrase" type="text")
    button.btn.btn-primary.m-1(type="submit") Join